@font-face {
    font-family: Inter;
    src: url('../_arq/inter-regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.yetu-body {
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#yetu-slide-um {
    margin-top: 39px;
    position: relative;
}


/* 
::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background-color: #99000050
}

::-webkit-scrollbar {
    width: 2px;
}
*/