.pes {
    display: block;
    width: 100%;
    height: 136px;
    background: #E4E4E4;
}

.pes-body {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.pes-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pes-content .img {
    position: absolute;
    right: 10px;
}

.instalar {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.menu-baixo {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 5px 10px;
    font-weight: bold;
}

.menu-baixo li {
    display: inline-block;
}

.menu-baixo a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-baixo a:hover {
    color: white;
}

@media screen and (max-width:1000px) {
    .pes-body {
        width: 90%;
        padding: 0 5%;
    }
    .instalar {
        width: 50px;
        left: 20px;
    }
}